
/*--------------------------------------------------------------*/
    /* #region - Product Listing - Padding Options */
/*--------------------------------------------------------------*/

    .woocommerce ul.products.product-padding-overall li.product .product-wrapper { 
        padding: 20px; -webkit-border-radius: var(--wdtRadius_4X); border-radius: var(--wdtRadius_4X); }
    .woocommerce ul.products.product-padding-overall li.product .product-details { padding-left: 0; padding-right: 0; }

/* #endregion - Product Listing - Padding Options */